.DS_Store
.atom/
.dart_tool/
.vscode/
.packages
.pub/
build/
ios/.generated/

!idea/runConfigurations/*
.idea
packages
.flutter-plugins
main.dart
.idea/codeStyles
ios/.symlinks
fastlane/report
report.xml
